doctype html 
html 
    include includes/templates/header.pug
body
    div.container
        include includes/templates/head.pug
        div.row.row-no-gutters.row-margin
            div.col-xs-12
                div.block-quote-justify.text-layer
                    include:markdown-it includes/writings/ethics/ethics.md