doctype html 
html 
    include includes/templates/header.pug
body
    div.container
        include includes/templates/head.pug
        if selection == null
            div.block-quote-center.text-layer
                each title, index in titles
                        div.row.row-no-gutters.row-margin
                            div.col-xs-12.text-layer
                                div.article-card
                                    a.links(href='/papers/' + index)
                                        h3=title           
        else
            div.row.row-no-gutters.row-margin
                div.col-xs-2
                div.col-xs-8
                    div.block-quote-justify.text-layer
                        | !{data}
                div.col-xs-2