aside#sidebar
    #header
    h1 ××××××××
    h2 yonmo

    p I do the funny. So, should you! One today. Many tomorrow.
    #box
        a(href='https://github.com/yonmo'): img(src=github, width='20')
        a(href='/imagineusingdiscord'): img(src=discord, width='20')
        a(href='mailto:yonmo@idolum.io'): img(src=mail, width='20')